In [79]:
# The code was removed by Watson Studio for sharing.

In [42]:
data = df_data_1[['Loan Status','Current Loan Amount','Term','Credit Score','Annual Income','Years in current job','Monthly Debt','Years of Credit History','Number of Open Accounts','Number of Credit Problems','Current Credit Balance','Maximum Open Credit']]

### remove rows having attribute value NaN

In [61]:
data = data.dropna()

### changing loan status fully paid,charged off to 0,1

In [80]:
data=data.replace('Fully Paid', 1)
data=data.replace('Charged Off', 0)
data.head()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit
0,1,445412.0,Short Term,709.0,1167493.0,8 years,5214.74,17.2,6.0,1.0,228190.0,416746.0
2,1,99999999.0,Short Term,741.0,2231892.0,8 years,29200.53,14.9,18.0,1.0,297996.0,750090.0
3,1,347666.0,Long Term,721.0,806949.0,3 years,8741.90,12.0,9.0,0.0,256329.0,386958.0
5,0,206602.0,Short Term,7290.0,896857.0,10+ years,16367.74,17.3,6.0,0.0,215308.0,272448.0
6,1,217646.0,Short Term,730.0,1184194.0,< 1 year,10855.08,19.6,13.0,1.0,122170.0,272052.0

### changing term{'short term','long term'} with 1 and 0.5

In [133]:
data=data.replace('Short Term', 0.5)
data=data.replace('Long Term', 1)
data= data.replace('1 years', 1)
data= data.replace('1 year', 1)
data= data.replace('< 1 year', 1)
data= data.replace('2 years', 2)
data= data.replace('2 year', 2)
data= data.replace('3 years', 3)
data= data.replace('3 year', 3)
data= data.replace('4 years', 4)
data= data.replace('4 year', 4)
data= data.replace('5 years', 5)
data= data.replace('5 year', 5)
data= data.replace('6 years', 6)
data= data.replace('6 year', 6)
data= data.replace('7 years', 7)
data= data.replace('7 year', 7)
data= data.replace('8 years', 8)
data= data.replace('8 year', 8)
data= data.replace('9 years', 9)
data= data.replace('9 year', 9)
data= data.replace('10 years', 10)
data= data.replace('10 years', 10)
data= data.replace('10+ years', 11)
sample=data[['Years in current job']]

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77433 entries, 0 to 99998
Data columns (total 12 columns):
Loan Status                  77433 non-null int64
Current Loan Amount          77433 non-null float64
Term                         77433 non-null float64
Credit Score                 77433 non-null float64
Annual Income                77433 non-null float64
Years in current job         77433 non-null int64
Monthly Debt                 77433 non-null float64
Years of Credit History      77433 non-null float64
Number of Open Accounts      77433 non-null float64
Number of Credit Problems    77433 non-null float64
Current Credit Balance       77433 non-null float64
Maximum Open Credit          77433 non-null float64
dtypes: float64(10), int64(2)
memory usage: 7.7 MB