In [41]:
# The code was removed by Watson Studio for sharing.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
Loan ID                         100000 non-null object
Customer ID                     100000 non-null object
Loan Status                     100000 non-null object
Current Loan Amount             100000 non-null float64
Term                            100000 non-null object
Credit Score                    80846 non-null float64
Annual Income                   80846 non-null float64
Years in current job            95778 non-null object
Home Ownership                  100000 non-null object
Purpose                         100000 non-null object
Monthly Debt                    100000 non-null float64
Years of Credit History         100000 non-null float64
Months since last delinquent    46859 non-null float64
Number of Open Accounts         100000 non-null float64
Number of Credit Problems       100000 non-null float64
Current Credit Balance          100000 non-null float64
Maximum Open Credit             99998 non-null float64
Bankruptcies                    99796 non-null float64
Tax Liens                       99990 non-null float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

In [42]:
data = df_data_1[['Loan Status','Current Loan Amount','Term','Credit Score','Annual Income','Years in current job','Monthly Debt','Years of Credit History','Number of Open Accounts','Number of Credit Problems','Current Credit Balance','Maximum Open Credit']]

In [44]:
data.head(10)

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,5214.74,17.2,6.0,1.0,228190.0,416746.0
1,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,33295.98,21.1,35.0,0.0,229976.0,850784.0
2,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,29200.53,14.9,18.0,1.0,297996.0,750090.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,8741.90,12.0,9.0,0.0,256329.0,386958.0
4,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,20639.70,6.1,15.0,0.0,253460.0,427174.0
5,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,16367.74,17.3,6.0,0.0,215308.0,272448.0
6,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,10855.08,19.6,13.0,1.0,122170.0,272052.0
7,Charged Off,648714.0,Long Term,NaN,NaN,< 1 year,14806.13,8.2,15.0,0.0,193306.0,864204.0
8,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,18660.28,22.6,4.0,0.0,437171.0,555038.0
9,Fully Paid,215952.0,Short Term,739.0,1454735.0,< 1 year,39277.75,13.9,20.0,0.0,669560.0,1021460.0