## Implementation of logistic regression

In [2]:
# The code was removed by Watson Studio for sharing.

In [ ]:
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt

In [26]:
list(df_data_1)

['Loan ID',
 'Customer ID',
 'Loan Status',
 'Current Loan Amount',
 'Term',
 'Credit Score',
 'Annual Income',
 'Years in current job',
 'Home Ownership',
 'Purpose',
 'Monthly Debt',
 'Years of Credit History',
 'Months since last delinquent',
 'Number of Open Accounts',
 'Number of Credit Problems',
 'Current Credit Balance',
 'Maximum Open Credit',
 'Bankruptcies',
 'Tax Liens']

In [31]:
data = df_data_1[['Loan Status', 'Current Loan Amount', 'Term', 'Credit Score', 'Annual Income', 'Years in current job',  'Monthly Debt', 'Years of Credit History', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit']]

In [34]:
data = data.dropna()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,5214.74,17.2,6.0,1.0,228190.0,416746.0
2,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,29200.53,14.9,18.0,1.0,297996.0,750090.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,8741.90,12.0,9.0,0.0,256329.0,386958.0
5,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,16367.74,17.3,6.0,0.0,215308.0,272448.0
6,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,10855.08,19.6,13.0,1.0,122170.0,272052.0

In [35]:
data.count()

Loan Status                  77433
Current Loan Amount          77433
Term                         77433
Credit Score                 77433
Annual Income                77433
Years in current job         77433
Monthly Debt                 77433
Years of Credit History      77433
Number of Open Accounts      77433
Number of Credit Problems    77433
Current Credit Balance       77433
Maximum Open Credit          77433
dtype: int64

In [63]:
data = data.replace('Fully Paid', 1)
data = data.replace('charged Off',0)

In [64]:
data=data.replace('Short Term', 0.5)
data=data.replace('Long Term', 1)
data= data.replace('1 years', 1)
data= data.replace('1 year', 1)
data= data.replace('< 1 year', 0.9)
data= data.replace('2 years', 2)
data= data.replace('2 year', 2)
data= data.replace('3 years', 3)
data= data.replace('3 year', 3)
data= data.replace('4 years', 4)
data= data.replace('4 year', 4)
data= data.replace('5 years', 5)
data= data.replace('5 year', 5)
data= data.replace('6 years', 6)
data= data.replace('6 year', 6)
data= data.replace('7 years', 7)
data= data.replace('7 year', 7)
data= data.replace('8 years', 8)
data= data.replace('8 year', 8)
data= data.replace('9 years', 9)
data= data.replace('9 year', 9)
data= data.replace('10 years', 10)
data= data.replace('10 years', 10)
data= data.replace('10+ years', 11)

In [69]:
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt

In [70]:
x = np.asarray(data[['Current Loan Amount', 'Term', 'Credit Score', 'Annual Income', 'Years in current job',  'Monthly Debt', 'Years of Credit History', 'Number of Open Accounts', 'Number of Credit Problems', 'Current Credit Balance', 'Maximum Open Credit']])

In [81]:
y = np.asarray(data[['Loan Status']])
y.shape

(77433, 1)

In [76]:
x = preprocessing.StandardScaler().fit(x).transform(x)

In [77]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=4)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (61946, 11) (61946, 1)
Test set: (15487, 11) (15487, 1)

In [79]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(x_train,y_train)
LR

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

ValueError: Unknown label type: 'unknown'